# Keep DATA folder structure, ignore actual data contents
DATA/**
!DATA/
!DATA/**/
!DATA/**/.gitkeep
utils/__pycache__/data_utils.cpython-311.pyc
utils/__pycache__/data_utils.cpython-313.pyc
utils/__pycache__/model_utils.cpython-313.pyc
models/__pycache__/UNet_GraphSAGE.cpython-313.pyc
scripts/__pycache__/01_prepare_data.cpython-313.pyc
.vscode/settings.json
models/__pycache__/UNet_GraphSAGE.cpython-311.pyc
# Keep RESULTS folder structure, ignore generated outputs
results/**
!results/
!results/**/
!results/.gitkeep
utils/__pycache__/train_utils.cpython-311.pyc
architecture
architecture_depth_1
architecture_depth_1_nested
architecture_depth_1_nested.pdf
architecture_depth_1.pdf
architecture_depth_2
architecture_depth_2_nested
architecture_depth_2_nested.pdf
architecture_depth_2.pdf
architecture.pdf
scripts/__pycache__/02_ablation_tests.cpython-311.pyc
